@import 'bootstrap.css';

body {
    padding-top: 60px;
}
.store-grid {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eeeeee;
}
.store-grid img {
    margin-bottom: 5px;
}
.store-grid .price {
    display: inline;    
    margin: 5px;
}
.cart-row {
    position: relative;
}
.product-listing > li {
    margin: 0 0 10px 10px;
}
.product-listing > li:first-child {
    margin: 0 0 10px 20px;
}
.product-listing > li:nth-child(5n+5) {
    clear: both;
}
