form(method="post", action="/products")
 fieldset
   legend Product info
   p
     label(for="product[title]") Title:
     input(type="text", name="product[title]", value=product.title)
   p
     label(for="product[description]") Description:
     input(type="text", name="product[description]", value=product.title)
 fieldset
   legend Product details
   p
     label(for="product[image_url]") Image URL:
     input(type="text", name="product[image_url]", value=product.image_url)
   p
     label(for="product[price]") Price:
     input(type="text", name="product[price]", value=product.price)
 p
   input(type="submit", value="save")

a(href="/products") Back
