.page-header
  h1 Products 
    small The list of product available

!=messages()

if (count)
  ul.thumbnails
    != partial('product', products);  
else
  p 
    | It looks like you have no products!
  p
    | Click
a(href='/products/add') New product
