.page-header
  h1=__i('Products')
    | 
    small=__i('The list of products available')

!=messages()

if (count)
  ul.thumbnails
    != partial('product', products);  
else
  p=__i('It looks like you have no products!')
a(href='/products/add')=__i('New product')
