h1 Listing products
if (count)
  table
    tr
      th Title
      th Description
      th Image url
      th Price
    != partial('product', products);
  table
  br
else
  p 
    | It looks like you have no products!
  p
    | Click
a(href='/products/add') New product
